* {
    margin: 0;
    padding: 0;
}

body {
    background: #181f21;
    margin: 10% auto;
    font-family: 'Fuzzy Bubbles', sans-serif;
    font-style: bold;
    font-weight: 400;
    color: #b3b9b8;
    padding-left: 5%;
    padding-right: 5%;
}

h3 {
    font-weight: 600;
    font-size: 16px;
    padding-top: 26px;
}

h1 {
    font-weight: 800;
    line-height: 58px;
    font-size: 32px;

}

p {
    font-weight: 700;
    color: #D2D2D2;
    letter-spacing: -0.015em;
}

input {
    font-family: 'Fuzzy Bubbles';
    background: none;
    border: none;
    text-align: center;
    font-weight: 800;
    font-size: 90px;
    line-height: 2em;
    text-align: center;
    max-width: 400px;
    color: #D2D2D2;
    resize: none;
    outline: none;
}

input#in::placeholder {
    color: #d2d2d259
}

.out-container {
    padding-bottom: 12px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    background-color: #22292b;
    margin: 0 auto;
    text-align: center;
    max-width: 550px;
    max-height: 650px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 1px 5px -1px rgba(1, 0, 0, .3);
}


.in-container {
    width: 100%;
    background-image: linear-gradient(60deg,
            #233061 0%,
            #4b5775 39%,
            #6c858f 91%,
            #8196a8 100%);
    padding-top: 5.25em;
    padding-bottom: 1.5em;
    border-radius: 20px 20px 10px 10px;
    box-shadow: 0 1px 5px -1px rgba(1, 0, 0, .3);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #22292b;
    color: #b3b9b8;
    text-align: center;
}